
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../../dist/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../../dist/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../../dist/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../../../dist/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../../../../dist/assets/ico/favicon.png">
<title>{{cat.category_name}} in {{place.place_name}} - Buy'n'Sell</title>
 
<link href="../../../../dist/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
 
<link href="../../../../dist/assets/css/style.css" rel="stylesheet">
 
<link href="../../../../dist/assets/css/owl.carousel.css" rel="stylesheet">
<link href="../../../../dist/assets/css/owl.theme.css" rel="stylesheet">
 
 
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
 
<script>
        paceOptions = {
            elements: true
        };
    </script>
<script src="../../../../dist/assets/js/pace.min.js"></script>
</head>
<body>
<div id="">

{{> client/header}}
 
<div class="search-row-wrapper">

</div>
 
<div class="main-container">
<div class="container">
<div class="row">
 
<div class="col-sm-3 page-sidebar mobile-filter-sidebar">
<aside>
<div class="inner-box">
<div class="categories-list  list-filter">
<h5 class="list-title"><strong><a href="#">All Categories</a></strong></h5>
<ul class=" list-unstyled">
{{#each categories}}
<li><a href="../../../../kerala/{{../place.place_slug}}/{{category_slug}}"><span class="title">{{category_name}}</span></a>
</li>
{{/each}}
</ul>
</div>
 
<div class="locations-list  list-filter">
<h5 class="list-title"><strong><a href="#">Location</a></strong></h5>
<ul class="browse-list list-unstyled long-list">
{{#each places}}
<li><a href="../../../../kerala/{{place_slug}}"><span class="title">{{place_name}}</span></a>
</li>
{{/each}}
</ul>
</div>
  
<div style="clear:both"></div>
</div>
 
</aside>
</div>
 
<div class="col-sm-9 page-content col-thin-left">
<div class="category-list">
<div class="tab-box ">
 

</div>
 
<div class="listing-filter">
<div class="pull-left col-xs-6">
<div class="breadcrumb-list"><a class="current"> <span>Location : {{place.place_name}} </span></a>
 
<span class="cityName">  </span> </div>
</div>
<div class="pull-right col-xs-6 text-right listing-view-action"><span class="list-view active"><i class="  icon-th"></i></span></div>
<div style="clear:both"></div>
</div>
 
 
<div class="mobile-filter-bar col-lg-12  ">
<ul class="list-unstyled list-inline no-margin no-padding">
<li class="filter-toggle">
<a class="">
<i class="  icon-th-list"></i>
Filters
</a>
</li>
<li>
<div class="dropdown">
<a data-toggle="dropdown" class="dropdown-toggle"><i class="caret "></i> Short
by </a>
<ul class="dropdown-menu">
<li><a href="" rel="nofollow">Relevance</a></li>
<li><a href="" rel="nofollow">Date</a></li>
<li><a href="" rel="nofollow">Company</a></li>
</ul>
</div>
</li>
</ul>
</div>
<div class="menu-overly-mask"></div>
 
<div class="adds-wrapper">
<div class="tab-content">
<div class="tab-pane active" id="allAds">

{{#each posts}}

<div class="item-list">

<div class="col-sm-2 no-padding photobox">
<div class="add-image"><span class="photo-count"></span> <a href="../../../../item/{{_id}}"><img class="thumbnail no-margin" src="../../../../uploads/posts/{{_id}}/{{image.[0].img}}" alt="img"></a>
</div>
</div>
 
<div class="col-sm-7 add-desc-box">
<div class="add-details">
<h5 class="add-title"><a href="../../../../item/{{_id}}">
{{name}} </a></h5>
<span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{date}} </span>  </span></div>
</div>
 
<div class="col-sm-3 text-right  price-box">
<h2 class="item-price"> &#8377; {{price}} </h2>
</div>
 
</div>  

{{/each}}
 
</div>
 </div>
</div>
</div>
 
<div class="tab-box  save-search-bar text-center"><a > More </a></div>
</div>


</div>
 
</div>
</div>
</div>
 
{{> client/footer }}
 
</div>
 
 
<div class="modal fade" id="selectRegion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="exampleModalLabel"><i class=" icon-map"></i> Select your region </h4>
</div>
<div class="modal-body">
<div class="row">
<div class="col-sm-12">
<p>Popular cities in <strong>New York</strong>
</p>
<div style="clear:both"></div>
<div class="col-sm-6 no-padding">
<select class="form-control selecter  " id="region-state" name="region-state">
<option value="">All States/Provinces</option>
<option value="Alabama">Alabama</option>
<option value="Alaska">Alaska</option>
<option value="Arizona">Arizona</option>
<option value="Arkansas">Arkansas</option>
<option value="California">California</option>
<option value="Colorado">Colorado</option>
<option value="Connecticut">Connecticut</option>
<option value="Delaware">Delaware</option>
<option value="District of Columbia">District of Columbia</option>
<option value="Florida">Florida</option>
<option value="Georgia">Georgia</option>
<option value="Hawaii">Hawaii</option>
<option value="Idaho">Idaho</option>
<option value="Illinois">Illinois</option>
<option value="Indiana">Indiana</option>
<option value="Iowa">Iowa</option>
<option value="Kansas">Kansas</option>
<option value="Kentucky">Kentucky</option>
<option value="Louisiana">Louisiana</option>
<option value="Maine">Maine</option>
<option value="Maryland">Maryland</option>
<option value="Massachusetts">Massachusetts</option>
<option value="Michigan">Michigan</option>
<option value="Minnesota">Minnesota</option>
<option value="Mississippi">Mississippi</option>
<option value="Missouri">Missouri</option>
<option value="Montana">Montana</option>
<option value="Nebraska">Nebraska</option>
<option value="Nevada">Nevada</option>
<option value="New Hampshire">New Hampshire</option>
<option value="New Jersey">New Jersey</option>
<option value="New Mexico">New Mexico</option>
<option selected value="New York">New York</option>
<option value="North Carolina">North Carolina</option>
<option value="North Dakota">North Dakota</option>
<option value="Ohio">Ohio</option>
<option value="Oklahoma">Oklahoma</option>
<option value="Oregon">Oregon</option>
<option value="Pennsylvania">Pennsylvania</option>
<option value="Rhode Island">Rhode Island</option>
<option value="South Carolina">South Carolina</option>
<option value="South Dakota">South Dakota</option>
<option value="Tennessee">Tennessee</option>
<option value="Texas">Texas</option>
<option value="Utah">Utah</option>
<option value="Vermont">Vermont</option>
<option value="Virgin Islands">Virgin Islands</option>
<option value="Virginia">Virginia</option>
<option value="Washington">Washington</option>
<option value="West Virginia">West Virginia</option>
<option value="Wisconsin">Wisconsin</option>
<option value="Wyoming">Wyoming</option>
</select>
</div>
<div style="clear:both"></div>
<hr class="hr-thin">
</div>
<div class="col-md-4">
<ul class="list-link list-unstyled">
<li><a href="#" title="">All Cities</a></li>
<li><a href="#" title="Albany">Albany</a></li>
<li><a href="#" title="Altamont">Altamont</a></li>
<li><a href="#" title="Amagansett">Amagansett</a></li>
<li><a href="#" title="Amawalk">Amawalk</a></li>
<li><a href="#" title="Bellport">Bellport</a></li>
<li><a href="#" title="Centereach">Centereach</a></li>
<li><a href="#" title="Chappaqua">Chappaqua</a></li>
<li><a href="#" title="East Elmhurst">East Elmhurst</a></li>
<li><a href="#" title="East Greenbush">East Greenbush</a></li>
<li><a href="#" title="East Meadow">East Meadow</a></li>
</ul>
</div>
<div class="col-md-4">
<ul class="list-link list-unstyled">
<li><a href="#" title="Elmont">Elmont</a></li>
<li><a href="#" title="Elmsford">Elmsford</a></li>
<li><a href="#" title="Farmingville">Farmingville</a></li>
<li><a href="#" title="Floral Park">Floral Park</a></li>
<li><a href="#" title="Flushing">Flushing</a></li>
<li><a href="#" title="Fonda">Fonda</a></li>
<li><a href="#" title="Freeport">Freeport</a></li>
<li><a href="#" title="Fresh Meadows">Fresh Meadows</a></li>
<li><a href="#" title="Fultonville">Fultonville</a></li>
<li><a href="#" title="Gansevoort">Gansevoort</a></li>
<li><a href="#" title="Garden City">Garden City</a></li>
</ul>
</div>
<div class="col-md-4">
<ul class="list-link list-unstyled">
<li><a href="#" title="Oceanside">Oceanside</a></li>
<li><a href="#" title="Orangeburg">Orangeburg</a></li>
<li><a href="#" title="Orient">Orient</a></li>
<li><a href="#" title="Ozone Park">Ozone Park</a></li>
<li><a href="#" title="Palatine Bridge">Palatine Bridge</a></li>
<li><a href="#" title="Patterson">Patterson</a></li>
<li><a href="#" title="Pearl River">Pearl River</a></li>
<li><a href="#" title="Peekskill">Peekskill</a></li>
<li><a href="#" title="Pelham">Pelham</a></li>
<li><a href="#" title="Penn Yan">Penn Yan</a></li>
<li><a href="#" title="Peru">Peru</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
 
 
 
<script src="../../../../dist/assets/js/jquery/jquery-latest.js"></script>
<script src="../../../../dist/assets/bootstrap/js/bootstrap.min.js"></script>
 
<script src="../../../../dist/assets/js/owl.carousel.min.js"></script>
 
<script src="../../../../dist/assets/js/jquery.matchHeight-min.js"></script>
 
<script src="../../../../dist/assets/js/hideMaxListItem.js"></script>
 
<script src="../../../../dist/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
<script src="../../../../dist/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
<!-- 
<script src="../../../../dist/assets/js/script.js"></script>-->
</body>
</html>
